<!DOCTYPE html>
<html>
  <head>
    <title>Lyrical</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Noto+Sans:200,300,400,500,600,700,800,900|Oswald:200,300,400,500,600,700,800,900&display=swap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
